<div class="addpool">

    <h1>Edit <%= @pool.pool_name %></h1>
       <form action="/pools/<%= @pool.id %>" method="post">
       <input id="hidden" type="hidden" name="_method" value="patch">
        <div class="row">

          <div class="form-group col">
              <label for="pool_name">Pool Name: 
                <input class="form-control" type="text" name="pool[pool_name]" id="pool_name" value="<%= @pool.pool_name %>">
              </label>
          </div>

          <div class="form-group col">
              <label for="building_name">Hotel or Building: 
                <input class="form-control" type="text" name="pool[building_name]" id="building_name" value="<%= @pool.building_name%>">
              </label>
          </div>

         <div class="form-group col">
              <label for="website">Website: 
                <input class="form-control" type="text" name="pool[website]" id="website" value="<%= @pool.website %>">
              </label>
          </div>

        <div class="form-group col"> 
              <label for="address">Address: 
                <input class="form-control" type="text" name="pool[address]" id="address" value="<%= @pool.address %>">
              </label>
        </div>
      </div>   

     
        
          
          <div class="addpool container">
            <p class="indent">Pool Description:</p>
            <div class="form-group">
              <textarea class="indent form-control" type="text" name="pool[pool_desc]" id="pool_desc" rows="10" cols="60" maxlength="75%" placeholder="Enter a description, limit to 500 characters"><%= @pool.pool_desc %></textarea>
            </div>
          </div>
          
          <div class="addpool">
            <p>Food and Drink:</p>
            <div class="row text-center">
              <div class="form-group col">
              
             
                <input class="form-check-input" id="has_food" type="checkbox" name="pool[has_food]" value="has_food" checked="<%= @pool.has_food %>">
                <label  for="has_food">Is there food available? </label>
              </div>
            <div class="form-group col"> 
              <input class="form-check-input" id="has_happy_hour" type="checkbox" name="pool[has_happy_hour]" value="has_happy_hour" checked="<%= @pool.has_happy_hour %>">
              <label  for="has_happy_hour">Is there a happy hour?</label>
            
            </div>
          </div>
          </div>
          
          <div class="row">
          
        
              <div class="form-group col"> 
                <label for="pool_open">Pool Opens
                  <input class="form-control" type="number" name="pool[pool_open]" id="pool_open" value="<%= @pool.pool_open %>"> AM
                </label>
              </div>
         
            
              <div class="form-group col"> 
                <label for="pool_close">Pool Closes
                  <input class="form-control" type="number" name="pool[pool_close]" id="pool_close" value="<%= @pool.pool_close %>"> PM
                </label>
              </div>
           
              <div class="form-group col"> 
                <label for="hh_open">Happy Hour Starts
                  <input class="form-control" type="number" name="pool[hh_open]" id="hh_open" value="<%= @pool.hh_open %>"> PM
                </label>
              </div>
         
              <div class="form-group col"> 
                <label for="hh_close">Happy Hour Ends
                  <input class="form-control" type="number" name="pool[hh_close]" id="hh_close" value="<%= @pool.hh_close %>"> PM 
                </label>
              </div>      
          </div>
        <div id="poolsubmit">
         <input type="submit" value="Edit This Pool" class="buttons text-center">
        </div>
      </form>
  <hr>
      <h3 class="text-center"><a href="/user_home" class="buttons">Back to Home Page </a> </h3>
   

</div>