
<div>
<h1 class="details" ><%= @match_user.username %>'s Post</h1>

    <div id="displayarea">
        <h2 class="details"><%= @pool.pool_name %></h2>
        <h4 class="details">Posted by: <%=@match_user.username%></h4>        
        <ul class="displaypool">
          <li>Hotel or Building: <%= @pool.building_name %></p></li>
          <li>Address: <%= @pool.address %></li>   
          <li>Website: <%=@pool.website%></li>
        </ul>

        <p class="details">Description: <%= @pool.pool_desc %></p>

        <ul class="displaypool">
            <% if @pool.has_food == true %>
              <li><p>Pool has food or a menu: Yes</p></li>
            <% else %>
              <li><p>Pool has food or a menu: No</p></li>
            <% end %>
            <% if @pool.has_happy_hour == true %>
                <li><p>Pool has a happy hour: Yes</p></li>
            <% else %>
                 <li><p>Pool has food or a menu: No</p></li>
            <% end %>
        </ul>

        <ul class="displaypool">
            <li>Pool Hours: <%= @pool.pool_open %>AM  to <%=@pool.pool_close%>PM</li>
            <li>Happy Hour: <%= @pool.hh_open %> PM  to <%=@pool.hh_close%> PM</li>
        </ul>

        
                

        <ul class="displaypool">
            <li><% if @pool.user == Helpers.current_user(session) %>
                <form action="/pools/<%=@pool.id %>/edit" method="get">
                <input type="submit" value="Edit this Pool" class="buttons">
                </form>
             
                <% end %>
            </li>
            <li><% if @pool.user == Helpers.current_user(session) %>
                <form action="/pools/<%= @pool.id %>/delete" method="post"> 
                <input id="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete this Pool" class="buttons">
                </form>
            
                <% end %>
            </li>
            
    </ul>

</div> 
    <h3><a href="/user_home" class="buttons">Back to Home Page </a> </h3>
    
</div>

