
<div>
<h1 id="posted-by" ><%= @pool.user.username %>'s Post</h1>

    <div class="details jumbotron">
    <div class="container">
        <h1 class="display-4"><%= @pool.pool_name %></h1>
        <p class="lead"> <%= @pool.pool_desc %></p>
        <hr class="my-4">        
        <ul class="displaypool list-group list-group-flush">
          <li class="list-group-item list-group-item-dark">Hotel or Building: <%= @pool.building_name %></li>
          <li class="list-group-item list-group-item-dark">Address: <%= @pool.address %></li>   
          <li class="list-group-item list-group-item-dark">Website: <%=@pool.website%></li>
        </ul>

        

        <ul class="displaypool list-group list-group-horizontal">
            <!-- keep logic out of view example for food vs. happy hour -->
            <!-- from method in pool.rb -->
            <li class="list-group-item d-flexjustify-content-between align-items-center list-group-item-dark">Food: <span class="badge badge-primary badge-pill"><%= @pool.food? %></span></li>
            <!-- as a reminder do this:  --> 
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark">Happy Hour: <span class="badge badge-primary badge-pill"><%= @pool.hh? %></span></li>  

                <!-- instead of this:  -->
                <!-- <% if @pool.has_happy_hour == true %>
                    <li><p>Pool has a happy hour: Yes</p></li>
                <% else %>
                    <li><p>Pool has food or a menu: No</p></li>
                <% end %>-->

        </ul>

        <ul class="displaypool list-group list-group-horizontal">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark">Pool Hours:
                    <span class="badge badge-primary badge-pill"><%= @pool.pool_open %>AM  to <%=@pool.pool_close%>PM</span> 
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark">Happy Hour:
                    <span class="badge badge-primary badge-pill"><%= @pool.hh_open %> PM  to <%=@pool.hh_close%> PM</span>
             </li>
        </ul>

        
                

        <ul class="edit-delete text-center">
            <li><% if @pool.user == Helpers.current_user(session) %>
                <form action="/pools/<%=@pool.id %>/edit" method="get">
                <input type="submit" value="Edit this Pool" class="buttons">
                </form>
             
                <% end %>
            </li>
            <li><% if @pool.user == Helpers.current_user(session) %>
                <form action="/pools/<%= @pool.id %>/delete" method="post"> 
                <input id="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete this Pool" class="buttons">
                </form>
            
                <% end %>
            </li>
            
    </ul>
</div>
</div> 
    <h3 class="text-center"><a href="/user_home" class="buttons">Back to Home Page </a> </h3>
    
</div>

