<div class="sign">
    <ul class="userhome">
        <li class="text-center"><%= Helpers.current_user(session).username %>'s pools</li>
        <li class="text-center"><a href="/pools/new_pool" class="buttons">Add A Pool</a></li>
    </ul>    
    
</div>

<div class="poollisting">
    <div class="row">
 
<!-- changed below to utilize active record assoc, simplify code -->
<% @user.pools.each do |pool| %>    
    <div class="eachpool"><a href="pools/<%= pool.id %>"> <%= pool.pool_name %> : <%= pool.pool_desc %></a></div>    
    <% end %>

        
    </div>
</div>

 



<hr>
<h3 class="text-center"><a href="/view_all" class="buttons">View All Pools </a> </h3>
<h2 class="text-center">Featured Pools</h2>


<div class="poollisting">


        <div class="row">   
 
    
      <% @pools.each do |pool| %>
    <div class="eachpool"> <a href="pools/<%= pool.id %>"> <%= pool.pool_name %> : <%= pool.pool_desc %></a></div>
<% end %>

</div>
</div>


